.socialButton {
    display: flex!important;
    align-items: center;
    gap: var(--padding-s);
    line-height: 1;
    

    span, svg {
        vertical-align: middle;
    }

    svg {
        fill: var(--title-color);
        width: 1.2rem;
        height: 1.2rem;
        vertical-align: middle;
    }

    &:hover {
        cursor: pointer;

        span {
            color: var(--primary-color);
        }

        svg {
            fill: var(--primary-color);
        }
    }
}