.socialList {
    display: flex;
    flex-direction: column;
    gap: var(--padding-m);
    width: 100%;

    a {
        text-decoration: none;
        color: var(--title-color)!important;
    }

    hr {
        border: 0.5px solid var(--body-color);
        width: 100%;
    }
}